.container {
  background: var(--bg);
}

.cont {
  display: grid;
  grid-template-columns: 22% 76%;
  gap: 2%;
  padding: var(--s-20) var(--s-50);
  padding-top: var(--s-70);
}

.description {
  background: var(--white-color);
  padding: var(--fs-14) var(--s-20);
  margin-bottom: var(--fs-1rem);
  font-weight: var(--fw-400);
  color: var(--light-gray-color);
}

.justify_center {
  display: flex;
  justify-content: center;
  margin: var(--s-20) 0;
}

@media (max-width: 950px) {
  .cont {
    padding: var(--s-20) var(--fs-1rem);
    grid-template-columns: 1fr;
    gap: 0;
  }

  .description {
    width: var(--hundred);
    margin-top: var(--s-20);
  }
}
