.container {
  background: var(--bg-login-gray);
  padding-top: var(--s-10);
}

.title {
  font-size: var(--s-40);
  font-weight: var(--font-weight-bold);
  color: var(--primary-blue);
  padding: var(--pa-title);
  padding-left: var(--s-150);
  background: var(--white-color);
  margin-top: -10px;
}

.container section {
  margin: var(--ma-homepage);
  padding-bottom: var(--s-80);
  padding-top: var(--s-10);
}

.cont {
  display: grid;
  grid-template-columns: 21% 75%;
  gap: 4%;
}

.footer_text {
  padding: var(--fs-14);
  width: var(--hundred);
  font-size: var(--s-10);
  padding-left: var(--three);
  font-weight: var(--fw-400);
  color: var(--light-gray-color);
  border-radius: var(--primary-border-radius);
  background: var(--white-color);
  margin: var(--s-30) 0;
}

.form {
  background: var(--primary-blue);
  border-radius: var(--primary-border-radius);
  padding: var(--s-30) var(--s-60);
}

.chip + div > ul > li {
  padding: var(--s-10) var(--fs-12);
}

.chip + div > ul > li.Mui-focused {
  background: red;
}

.top {
  margin-top: var(--s-10);
}

.input {
  height: var(--s-50) !important;
  background: var(--white-color) !important;
  padding-left: 3% !important;
}

.input::-webkit-input-placeholder {
  font-size: var(--s-18);
  font-weight: var(--fw-500);
  font-family: var(--font-family-secondary);
  color: var(--light-gray-color);
}

.select {
  width: var(--size-23);
  margin: var(--size-1) !important;
}

.grid {
  display: flex;
}

.btn {
  width: var(--size-23);
  margin: var(--size-1) !important;
  height: var(--s-50);
  border-radius: var(--s-10);
  font-weight: var(--fw-500);
  font-size: var(--s-18);
  border-width: 0;
  background: var(--blue);
  color: var(--white-color);
}

@media (max-width: 950px) {
  .form {
    padding: var(--s-20) var(--s-20);
  }

  .btn {
    width: var(--size-98);
  }

  .select {
    width: var(--size-98);
  }

  .cont {
    grid-template-columns: 1fr;
  }

  .title {
    padding: var(--pa-title);
  }

  .grid {
    flex-direction: column;
  }
}

@media (max-width: 575px) {
  .title {
    font-size: var(--fs-36);
    padding: var(--pa-title);
  }
}
