.container {
  border-top: var(--size-3) solid var(--primary-blue);
  background: var(--white-color);
  padding: 0 var(--size-5) var(--s-20);
  margin-top: var(--s-20);
  font-family: var(--font-family-secondary);
}

.label {
  margin: 0;
  color: var(--primary-blue);
  font-weight: var(--font-weight-bold);
  padding: var(--fs-12) var(--size-5);
}

.filter {
  background: var(--d-bg);
  padding: var(--fs-24) var(--s-30);
  display: flex;
  align-items: flex-end;
}

.filter > div {
  width: var(--twenty);
  margin-right: var(--s-50);
}

.btn {
  color: var(--white-color);
  font-size: var(--fs-12);
  border-width: 0;
  background: var(--l-blue);
  padding: var(--s-10) var(--s-30);
  height: max-content;
}

.select {
  background: var(--white-color) !important;
  width: var(--hundred) !important;
}

.select > div > div {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.select input {
  padding-top: var(--size-5) !important;
  padding-bottom: var(--size-5) !important;
}

.select input::-webkit-input-placeholder {
  font-weight: var(--fw-500) !important;
  font-size: var(--fs-14) !important;
  color: var(--black) !important;
}

.date {
  background: var(--white-color) !important;
  width: var(--hundred) !important;
}

.date input {
  padding-top: var(--s-4) !important;
  padding-bottom: var(--s-4) !important;
}

.date > div > fieldset {
  border-color: var(--shade) !important;
}

.title {
  font-weight: var(--fw-500);
  margin-bottom: var(--s-10);
}

.justify_center {
  display: flex;
  justify-content: center;
  margin: var(--s-20) 0;
}

.chart {
  width: var(--hundred);
  overflow-y: hidden;
  overflow-x: auto;
}

.chart > div {
  min-width: 570px;
}

.tc {
  background: var(--white-color);
  padding: var(--s-30) var(--s-40);
  border: solid 1px var(--red);
  border-radius: var(--size-5);
  width: max-content;
  height: max-content;
  text-align: center;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  font-weight: var(--fw-500);
  box-shadow: 0 0 var(--s-30) var(--shadow);
}

.error_cont {
  position: fixed;
  bottom: 0;
  right: 0;
  height: 100vh;
  background: var(--faded-black);
  z-index: 1301;
  width: var(--hundred);
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 950px) {
  .filter {
    padding: var(--fs-24) var(--s-30);
    align-items: initial;
    flex-direction: column;
  }

  .filter > div {
    width: var(--hundred);
    margin-right: 0;
  }

  .title {
    margin-bottom: var(--size-5);
    margin-top: var(--s-10);
  }

  .btn {
    margin-top: var(--s-10);
  }
}
