.container {
  background: var(--bg-login-gray);
  padding-top: var(--s-10);
}

.container section {
  padding: var(--ma-about-main);
  padding-top: var(--s-10);
}

.title {
  font-size: var(--fs-48);
  font-weight: var(--font-weight-bold);
  color: var(--primary-blue);
  padding: var(--pa-title);
  background: var(--white-color);
}

.justify_center {
  display: flex;
  justify-content: center;
  margin: var(--s-20) 0;
}

@media (max-width: 575px) {
  .title {
    font-size: var(--fs-36);
    padding: var(--pa-title);
  }
}
