.container {
  background: var(--bg-login-gray);
  padding: var(--ma-about-main);
  padding-top: var(--s-40);
}

.container section {
  background: var(--white-color);
  border-radius: var(--size-5);
  padding: var(--s-50) var(--s-20);
}

.left {
  display: flex;
  flex-grow: 100;
}

.btn {
  height: var(--s-50);
  border-radius: var(--s-8);
  background: var(--blue);
  width: var(--s-55);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.left + a {
  margin-left: var(--s-20);
}

.input {
  flex-grow: 100;
}

.input,
.input > div,
.input input {
  border-radius: var(--s-10);
  height: var(--s-50);
}

.input input {
  padding: var(--s-8);
}

.form {
  display: flex;
  align-items: center;
}

.btn2 {
  color: var(--white-color);
  background: var(--primary-blue);
  border-radius: var(--s-10);
  font-weight: var(--font-weight-bold);
  font-family: var(--font-family-secondary);
  border-width: 0;
  padding: var(--s-10) var(--s-40);
  height: max-content;
  text-align: center;
}

.close {
  padding-right: var(--s-10) !important;
}

.title {
  font-size: var(--s-40);
  font-weight: var(--font-weight-bold);
  color: var(--primary-blue);
  padding: var(--pa-title);
  padding-left: var(--s-150);
  background: var(--white-color);
}

@media (max-width: 950px) {
  .title {
    padding: var(--pa-title);
  }

  .form {
    flex-direction: column;
  }

  .left {
    width: var(--hundred);
  }

  .left + a {
    width: var(--hundred);
    margin-left: 0;
    margin-top: var(--s-10);
  }
}

@media (max-width: 575px) {
  .title {
    font-size: var(--fs-36);
    padding: var(--pa-title);
  }
}
