.view {
  background: var(--l-blue);
  color: var(--white-color);
  font-size: var(--s-10);
  font-weight: var(--fw-400);
  padding: var(--size-5) var(--s-10);
  width: max-content;
  cursor: pointer;
}

.modal_content {
  position: relative;
  background-color: var(--white-color);
  margin: auto;
  font-family: var(--font-family-secondary);
  margin-top: var(--s-40);
  margin-bottom: var(--s-20);
  z-index: 2;
  padding: 0;
  border-width: 0;
  width: var(--s-900);
  height: max-content;
  box-shadow: 0 4px 8px 0 #00000033, 0 6px 20px 0 #00000030;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 1s;
  animation-name: animatetop;
  animation-duration: 1s;
}

.close {
  color: var(--black);
  font-size: var(--s-20);
  font-weight: bold;
  color: var(--white-color);
  background: var(--l-blue);
  padding: var(--fs-1rem);
  padding-right: var(--s-30);
  text-align: center;
}

.close > span {
  height: var(--lh-35);
  width: var(--lh-35);
  background: var(--pale-red);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  border-radius: var(--fifty);
  top: -20px;
  right: -20px;
  cursor: pointer;
}

.close > span:hover {
  background: var(--red-hov);
  transition: ease-in-out 0.2s;
}

.bg {
  background: var(--transparent);
  position: fixed;
  z-index: 1;
  top: 0;
  height: var(--min-height-100);
  width: var(--hundred);
}

@-webkit-keyframes animatetop {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.cover {
  padding: var(--fs-14);
}

.content {
  border: solid 1px var(--gray);
  border-top-color: var(--l-blue);
  padding: var(--fs-14);
}

.content h4 {
  font-weight: bold;
  color: var(--primary-blue);
  border-bottom: 1px solid var(--input-border-color);
  margin-bottom: var(--s-20);
  padding-bottom: var(--size-3);
}

.row3 {
  display: flex;
  margin-bottom: var(--s-20);
  font-size: var(--fs-12);
  font-weight: var(--fw-400);
}

.title {
  width: var(--twenty);
  padding: var(--size-3);
  word-break: break-word;
}

.details {
  width: var(--eighty);
  padding: var(--size-3);
  word-break: break-word;
}

.content + div {
  display: flex;
  justify-content: center;
  margin-top: var(--fs-14);
}

.btn2,
.btn3 {
  color: var(--white-color);
  font-size: var(--fs-12);
  font-weight: var(--fw-400);
  height: var(--lh-35);
  width: var(--s-165);
  border-width: 0;
}

.btn2 {
  background: var(--l-blue);
}

.btn2:hover,
.view:hover {
  background: var(--lb-hov);
}

.btn3 {
  background: var(--pale-red);
  margin: 0 var(--s-10);
}

.btn3:hover {
  background: var(--red-hov);
}

@media (max-width: 950px) {
  .modal_content {
    width: var(--size-88);
  }
}
