.container {
  background: var(--white-color);
  padding-bottom: var(--s-30);
  font-family: var(--font-family-secondary);
}

.select > div {
  padding: 1px !important;
  padding-left: var(--fs-14) !important;
}

.select {
  font-size: var(--fs-14);
}

.select svg {
  right: var(--size-3) !important;
  font-size: var(--fs-1rem) !important;
}

.justify_center {
  display: flex;
  justify-content: center;
  padding: var(--s-20) 0;
  background: var(--white-color);
}

.results {
  color: var(--light-gray-color);
  font-weight: var(--fw-400);
  margin-top: var(--fs-14);
  margin-bottom: var(--s-10);
}

.control {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--s-10);
  padding-bottom: 0;
}

.control > div {
  display: flex;
  align-items: center;
}

.control > p {
  font-weight: var(--fw-400);
  font-size: var(--fs-14);
}

.cont {
  border: solid 1px var(--d-bg);
  margin: var(--size-5);
  overflow: auto;
}

.heading {
  display: flex;
}

.heading > div {
  padding: var(--fs-14) var(--size-3);
  display: flex;
  justify-content: center;
  text-align: center;
  border-right: 1px solid var(--d-bg);
}

/* modal */
.modal_content {
  position: relative;
  background-color: var(--white-color);
  margin: auto;
  font-family: var(--font-family-secondary);
  margin-top: var(--s-40);
  margin-bottom: var(--s-20);
  z-index: 2;
  padding: 0;
  border-width: 0;
  width: var(--s-764);
  height: max-content;
  box-shadow: 0 4px 8px 0 #00000033, 0 6px 20px 0 #00000030;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 1s;
  animation-name: animatetop;
  animation-duration: 1s;
}

.modal_content2 {
  position: relative;
  background-color: var(--white-color);
  margin: auto;
  font-family: var(--font-family-secondary);
  margin-top: var(--s-40);
  margin-bottom: var(--s-20);
  z-index: 2;
  padding: 0;
  border-width: 0;
  width: var(--s-340);
  height: max-content;
  box-shadow: 0 4px 8px 0 #00000033, 0 6px 20px 0 #00000030;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 1s;
  animation-name: animatetop;
  animation-duration: 1s;
}

.close {
  font-size: var(--s-20);
  font-weight: bold;
  color: var(--white-color);
  background: var(--l-blue);
  padding: var(--fs-1rem);
  padding-right: var(--s-30);
  text-align: center;
}

.close > span {
  height: var(--lh-35);
  width: var(--lh-35);
  background: var(--pale-red);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  border-radius: var(--fifty);
  top: -20px;
  right: -20px;
  cursor: pointer;
}

.close > span:hover {
  background: var(--red-hov);
  transition: ease-in-out 0.2s;
}

.bg {
  background: var(--transparent);
  position: fixed;
  z-index: 1;
  top: 0;
  height: var(--min-height-100);
  width: var(--hundred);
}

@-webkit-keyframes animatetop {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.cover {
  padding: var(--fs-14);
}

.btn3 {
  height: var(--fs-24);
  padding: 0 var(--s-20);
  color: var(--white-color);
  border-width: 0;
  font-weight: var(--fw-400);
  font-size: var(--fs-14);
}

.save {
  background: var(--l-blue);
}

.save:hover {
  background: var(--lb-hov);
}

.cancel {
  background: var(--pale-red);
  margin-left: var(--s-10);
}

.cancel:hover {
  background: var(--red-hov);
}

.btn_cont {
  display: flex;
  justify-content: center;
  padding-top: var(--s-10);
}

.textInput2 {
  margin-bottom: var(--fs-14);
}

.textInput2 > label span {
  color: var(--pale-red);
}

.input {
  width: var(--hundred);
  border: solid 1px var(--shade);
  padding: var(--s-10);
  margin-top: var(--size-3);
  color: var(--light-gray-color);
  font-size: var(--fs-1rem);
}

.select2 {
  width: var(--hundred);
  border: solid 1px var(--shade);
  padding: var(--s-10);
  margin-top: var(--size-3);
  color: var(--header-txt);
}

.select2:focus {
  box-shadow: none;
}

.select2 option:not(:first-of-type) {
  color: var(--black);
}

.select2 option {
  font-size: var(--fs-1rem);
}

.form_select {
  background-position: right 1.5rem center;
  background-size: 16px 10px;
}

.buttons {
  display: flex;
  padding-bottom: var(--s-10);
}

.btn4 {
  height: var(--s-22);
  width: var(--s-30);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.yellow {
  background: var(--yellow);
  margin-left: var(--fs-14);
  font-weight: var(--fw-400);
  font-size: var(--s-8);
}

.yellow:hover {
  background: var(--y-hov);
}

.red {
  background: var(--pale-red);
  margin-left: var(--fs-14);
}

.red:hover {
  background: var(--red-hov);
}

.green {
  background: var(--m-green);
}

.green:hover {
  background: var(--g-hov);
}

.bold {
  stroke: var(--black);
  stroke-width: 2px;
}

.cover2 {
  padding: var(--s-20) var(--fs-14);
}

.content2 {
  padding: var(--s-20);
  padding-left: var(--s-40);
  background: var(--light-gray-color);
}

.controlCont {
  margin: 10px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 950px) {
  .modal_content2 {
    width: var(--size-88);
  }

  .overflow > div {
    overflow: auto;
  }
  .editQuestion {
    display: block;
  }
}

@media (max-width: 690px) {
  .modal_content {
    width: var(--size-88);
  }
  .controlCont {
    display: block;
  }
}

.one {
  width: 12%;
}

.two {
  width: 22%;
}

.row,
.row2 {
  display: flex;
}

.row2 {
  background: var(--d-bg);
}

.row > div,
.row2 > div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--fs-14);
  font-weight: var(--fw-400);
  padding: var(--fs-14) var(--size-3);
  word-break: break-word;
  border-right: 1px solid var(--d-bg);
}

.heading > div:nth-last-child(1),
.row > div:nth-last-child(1),
.row2 > div:nth-last-child(1) {
  border: none;
}

.results {
  color: var(--light-gray-color);
  font-weight: var(--fw-400);
  margin-top: var(--fs-14);
}

.btn {
  height: var(--fs-24);
  width: var(--fs-24);
  border-radius: var(--fifty);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.editbtn {
  border: solid 1px var(--black);
  margin-left: var(--size-5);
}
.unapprovedAns {
  margin-left: var(--size-5);
  background-color: var(--pale-red);
  color: white;
}
.approvedAns {
  margin-left: var(--size-5);
  background-color: var(--primary-blue);
  color: white;
}

.addbtn {
  border: solid 1px var(--primary-blue);
}

.delbtn {
  border: solid 1px var(--pale-red);
  margin-left: var(--size-5);
}

.cont > div {
  min-width: var(--s-900);
}

.label2 {
  margin: 0;
  color: var(--primary-blue);
  font-weight: var(--font-weight-bold);
  padding: var(--fs-14) var(--s-10);
  border-top: var(--size-3) solid var(--primary-blue);
  background: var(--white-color);
  margin-bottom: var(--s-10);
  border-bottom: 1px solid var(--d-bg);
}
.label4 {
  margin: 0;
  color: var(--primary-blue);
  font-weight: var(--font-weight-bold);
  padding: var(--fs-14) var(--s-18);
  background: var(--white-color);
  margin-bottom: var(--s-10);
  border-bottom: 1px solid var(--d-bg);
}
.label5 {
  margin: 0;
  color: var(--primary-blue);
  font-weight: var(--font-weight-bold);
  padding: var(--fs-14) var(--s-10);
  border-top: var(--size-3) solid #22b8cf;
  background: var(--white-color);
  margin-bottom: var(--s-10);
  border-bottom: 1px solid var(--d-bg);
  text-align: center;
}
.questionDetails {
  display: flex;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 19px;
  color: #1c1d1f;
  margin-bottom: 12px;
}
.questionHeading {
  width: 30%;
  padding-left: 17px;
}
.questionBody {
  width: 70%;
  color: #8e8e8e;
  font-weight: 400;
}
.editQuestion {
  display: flex;
  justify-content: space-between;
}
.search {
  display: flex;
  align-items: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  padding: 0 var(--s-10);
}
.search > p {
  margin-right: 7px;
}
.search > input {
  border: 1px solid #e3e3e3;
  margin-right: 7px;
  height: 28px;
}
.deleteRecord {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  padding: 24px 48px 11px;
  border-bottom: 1px solid #e3e3e3;
  margin-bottom: 14px;
}

.btn3 {
  height: 34px;
  width: 60px;
  background-color: var(--primary-blue);
  color: var(--white-color);
  border-width: 0;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  border-radius: 4px;
  margin-left: 258px;
  margin-bottom: 19px;
}
.deleteRecordHeading {
  font-size: var(--fs-14);
  font-weight: bold;
  color: var(--white-color);
  background: var(--primary-blue);
  padding: var(--fs-1rem);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.deleteRecordHeading > p {
  margin-left: 110px;
}

.deleteRecordHeading > span {
  cursor: pointer;
}

.deleteRecordHeading > span:hover {
  background: var(--red-hov);
  transition: ease-in-out 0.2s;
}
