.container {
  background: var(--white-color);
}

.container > div > div {
  padding: var(--s-40);
}

.container p {
  line-height: var(--lh-35);
}

.container p:first-child {
  color: var(--primary-blue);
  font-weight: var(--font-weight-bold);
}
