.container {
  background: var(--bg-login-gray);
  padding: var(--ma-about-main);
}

.btn_cont {
  width: var(--hundred);
  display: flex;
}

.title {
  font-size: var(--fs-48);
  font-weight: var(--font-weight-bold);
  color: var(--primary-blue);
  padding: var(--pa-title);
  background: var(--white-color);
  border-top: solid var(--s-10) var(--bg-login-gray);
}

.instruction {
  color: var(--header-txt);
  padding: var(--fs-1rem);
}

.main {
  background: var(--light-green);
  padding: 0 var(--fs-1rem);
  padding-bottom: var(--fs-1rem);
}

@media (max-width: 575px) {
  .title {
    font-size: var(--fs-36);
    padding: var(--pa-title);
  }
}
