.container {
  background: var(--header-txt);
  height: var(--hundred);
}

.card {
  border-bottom: 1px solid var(--light-gray-color);
  padding: var(--fs-12) var(--s-8);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card:hover {
  background: var(--card-hov);
}

.card > span {
  width: var(--s-20);
  height: var(--s-20);
}

.card h6 {
  font-weight: var(--fw-400);
  color: var(--white-color);
  font-size: var(--s-18);
}
