.footer_text {
  padding: var(--s-10);
  width: 104%;
  margin-left: -2%;
  font-size: var(--fs-14);
  font-weight: var(--fw-400);
  color: var(--light-gray-color);
  border-radius: var(--primary-border-radius);
  background: var(--white-color);
}

.footer_text2 {
  font-size: var(--fs-14);
  font-weight: var(--fw-400);
  margin-bottom: var(--s-20);
}

.justify_center {
  display: flex;
  justify-content: center;
  margin: var(--s-20) 0;
}
