.container {
  padding: var(--fs-12);
  padding-left: var(--header-padding);
  padding-right: var(--header-padding);
  display: flex;
  align-items: center;
  width: var(--hundred);
}

.div {
  margin-left: auto;
  display: flex;
}

.logo_1 + span {
  height: var(--logo1-height) !important;
  width: var(--logo1-width) !important;
}

.logo_2 + span {
  position: absolute;
  left: var(--ministry-logo-margin);
  height: var(--logo2-height) !important;
  width: var(--logo2-width) !important;
}

.logo_3 + span {
  height: var(--logo3-height) !important;
  width: var(--logo3-width) !important;
}

.logo_4 + span {
  height: var(--logo4-height) !important;
  width: var(--logo4-width) !important;
}

.cont_2 {
  padding: var(--pa-header-bottom);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--bg-header-bottom);
  font-size: var(--fs-1rem);
}

.links {
  display: flex;
  list-style: none;
  align-items: center;
  padding: 0;
  margin: 0 var(--fs-14);
}

.links li {
  margin: 0 var(--links-gap);
  font-weight: var(--fw-500);
  cursor: pointer;
}

.links li:hover {
  color: var(--primary-blue);
}

.search {
  padding: var(--pa-search);
}

.text {
  font-weight: var(--fw-400);
  color: var(--header-txt);
  line-height: var(--lh-16);
}

.search_cont {
  display: flex;
  align-items: center;
}

.search_icon + span {
  position: absolute !important;
  right: var(--search-icon-right) !important;
}

.down + span {
  height: var(--links-gap) !important;
  width: var(--input-padding) !important;
  margin-left: var(--ma-down-icon) !important;
}

.flex_align_center {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.search2 {
  height: var(--searchbox-h);
  display: flex;
  align-items: center;
  width: var(--hundred);
  box-shadow: none !important;
}

.search3 {
  width: var(--size-75);
  margin-left: var(--login-checkbox-dimensions);
  padding: var(--primary-margin-top);
  border-radius: var(--size-5);
  border-width: 0;
  background: var(--search-bg);
}

.search_icon2 + span {
  position: absolute !important;
  right: var(--size-25) !important;
}

.item {
  padding: var(--s-20);
  color: var(--primary-blue);
  font-size: var(--fs-16);
  width: var(--size-87);
  background: var(--white-color);
  font-weight: var(--fw-400);
  cursor: pointer;
}

.item:hover {
  background: var(--primary-blue);
  color: var(--white-color);
}

.ul {
  background: darkorange;
  list-style: none;
  width: var(--hundred);
  box-shadow: 0 var(--size-3) var(--size-3) var(--shadow);
  margin-top: 0;
  padding-left: 0;
}

.li {
  color: var(--primary-blue);
  background: var(--white-color);
  display: block;
  position: relative;
  text-decoration: none;
  transition-duration: 0.5s;
}

.li ul li:hover {
  float: left;
  color: var(--primary-blue);
  background: var(--input-border-color);
  cursor: pointer;
}

.li ul {
  background: var(--white-color);
  visibility: hidden;
  opacity: 0;
  min-width: var(--s-60);
  position: absolute;
  transition: all 0.5s ease;
  margin-top: var(--fs-1rem);
  left: 0;
  display: none;
}

.li2 ul li {
  background: var(--faded-white);
}

.li2 ul {
  margin-top: 0;
  border-bottom: 1px solid var(--bg-login-gray);
  box-shadow: 0 var(--size-5) var(--size-5) -2px var(--shadow);
  background: var(--transparent);
  width: auto;
}

.li2 {
  background: var(--transparent);
  color: var(--black);
}

.li:hover > ul,
.li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
  -webkit-animation: fadeIn 0.5s;
  animation: fadeIn 0.5s;
}

.li ul li {
  clear: both;
  width: var(--hundred);
  padding: var(--fs-14) var(--s-20);
  z-index: 5;
  color: var(--black);
  margin: 0;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 950px) {
  .links,
  .search_cont {
    display: none;
  }
}
