.select {
  height: var(--s-40);
  padding: var(--s-10) var(--fs-14);
  border-radius: var(--primary-border-radius);
  width: var(--hundred);
  color: var(--light-gray-color);
  border: solid 1px var(--input-border-color);
}

.select_cont {
  display: flex;
  flex-direction: column;
  width: var(--size-31);
}

.input {
  height: var(--s-40);
  padding: var(--s-10) var(--fs-14);
  border-radius: var(--primary-border-radius);
  border: 1px solid var(--input-border-color);
}

.input_cont {
  width: var(--size-45);
  display: flex;
  flex-direction: column;
}

.row {
  width: var(--hundred);
  background: var(--primary-blue);
  border-radius: var(--primary-border-radius);
  padding: var(--s-30) var(--fs-24);
}

.row p {
  color: var(--white-color);
}

.inputs {
  margin-top: var(--s-10);
  display: flex;
  justify-content: space-between;
}

.btn {
  background: var(--blue);
  color: var(--white-color);
  padding: var(--pa-btn);
  border-radius: var(--s-10);
  font-weight: var(--font-weight-bold);
  border-width: 0;
}

.footer_text {
  padding: var(--s-10);
  font-size: var(--fs-14);
  font-weight: var(--fw-400);
  color: var(--light-gray-color);
  border-radius: var(--primary-border-radius);
  background: var(--white-color);
}

@media (max-width: 950px) {
  .inputs {
    flex-direction: column;
  }

  .select_cont {
    width: var(--hundred);
    margin-bottom: var(--s-10);
  }

  .input_cont {
    width: var(--hundred);
    margin-bottom: var(--s-10);
  }

  .btn {
    width: var(--hundred);
  }
}
