.container {
  display: grid;
  grid-template-columns: 47% 47%;
  margin: var(--ma-homepage);
  margin-bottom: 0;
  gap: 6%;
}

.title {
  font-size: var(--s-40);
  padding-bottom: var(--s-20);
  color: var(--primary-blue);
  font-weight: var(--font-weight-bold);
}

.text {
  color: var(--light-gray-color);
  line-height: var(--lh-35);
  font-size: var(--s-20);
  text-align: justify;
}

/* .text:after {
  content: "";
  display: inline-block;
  width: 100%;
} */

.btn {
  color: var(--white-color);
  background: var(--primary-blue);
  padding: var(--fs-12) var(--s-40);
  border-radius: var(--s-10);
  font-weight: var(--font-weight-bold);
  font-size: var(--s-1rem);
  border-width: 0;
  margin-top: var(--s-20);
}

@media (max-width: 950px) {
  .container {
    grid-template-columns: 1fr;
    margin: var(--five);
  }
}
