.container {
  background: var(--bg);
  padding-top: var(--s-10);
}

.title {
  font-size: var(--s-40);
  font-weight: var(--font-weight-bold);
  color: var(--primary-blue);
  padding: var(--pa-title);
  padding-left: var(--s-150);
  background: var(--white-color);
  margin-top: -10px;
}

.container section {
  padding: var(--ma-about-main);
  padding-top: var(--s-10);
}

.cont {
  background: var(--white-color);
  padding: var(--s-30);
  border-radius: var(--primary-border-radius);
  width: var(--size-95);
}

.cont p {
  font-weight: var(--fw-600);
  font-size: var(--s-20);
}

.footer_text {
  padding: var(--fs-14);
  width: var(--size-95);
  font-size: var(--s-10);
  padding-left: var(--three);
  font-weight: var(--fw-400);
  color: var(--light-gray-color);
  border-radius: var(--primary-border-radius);
  background: var(--white-color);
  margin-top: var(--s-20);
}

.justify_center {
  display: flex;
  justify-content: center;
  margin: var(--s-20) 0;
}

@media (max-width: 950px) {
  .title {
    padding: var(--pa-title);
  }

  .footer_text,
  .cont {
    width: var(--hundred);
  }
}

@media (max-width: 575px) {
  .title {
    font-size: var(--fs-36);
    padding: var(--pa-title);
  }
}
