.container {
  background: var(--bg);
  padding: var(--ma-about-main);
  padding-top: var(--s-40);
}

.title {
  font-size: var(--s-40);
  font-weight: var(--font-weight-bold);
  color: var(--primary-blue);
  padding: var(--pa-title);
  padding-left: var(--s-150);
  background: var(--white-color);
}

.img_cont {
  height: var(--s-64);
  width: var(--s-64);
  padding: 0;
  margin-right: var(--s-30);
}

.details {
  font-weight: var(--fw-400);
  flex-grow: 100;
}

.shade > div {
  display: flex;
  margin-bottom: var(--s-20);
}

.shade > div:nth-last-child(1) {
  margin-bottom: 0;
}

.shade {
  background: var(--shade2);
  padding: var(--s-20) var(--s-30);
  padding-bottom: var(--s-40);
  border-radius: var(--primary-border-radius);
  width: var(--hundred);
  display: flex;
  flex-direction: column;
}

.details > p {
  font-weight: var(--font-weight-bold);
}

.footer {
  display: flex;
  border-bottom: 1px solid var(--light-gray-color);
  margin: var(--s-10) 0;
}

.footer p {
  font-size: var(--fs-12);
  color: var(--dark-gray);
}

.footer > span {
  margin-right: var(--s-40);
  display: flex;
  margin-bottom: var(--s-8);
}

.footer > span > span {
  margin-right: var(--size-5) !important;
}

.head {
  font-weight: var(--fw-500);
  border-bottom: 1px solid var(--input-border-color);
  padding-bottom: var(--s-10);
}

.replies {
  border-radius: var(--fs-12);
  background: var(--white-color);
  padding: var(--s-20);
  margin: var(--s-20) 0;
}

.comment {
  background: var(--white-color);
  border-radius: var(--fs-12);
  padding: var(--fs-12) var(--s-20);
}

.comment > div {
  background: var(--shade2);
  display: flex;
  flex-direction: column;
  padding: var(--fs-24) var(--fs-14);
}

.instruction {
  font-weight: var(--fw-500);
  margin-bottom: var(--s-10);
}

.btn {
  color: var(--white-color);
  background: var(--pale-red);
  border-radius: var(--s-8);
  padding: var(--s-8);
  font-weight: var(--fw-500);
  font-size: var(--fs-12);
  border-width: 0;
  width: max-content;
}

.btn:focus {
  background: var(--red-hov);
}

.justify_center {
  display: flex;
  justify-content: center;
  margin: var(--s-20) 0;
}

.input {
  padding: var(--s-10);
  padding-bottom: var(--fs-1rem);
  padding-left: var(--s-30);
  margin-bottom: var(--s-10);
  width: var(--size-75);
  border-width: 0;
}

.input::-webkit-input-placeholder {
  font-family: var(--font-family-primary);
  font-size: var(--fs-12);
}

.modal_content {
  position: relative;
  background-color: var(--white-color);
  margin: 0 auto;
  margin-top: var(--s-70);
  z-index: 2;
  padding: 0;
  border-width: 0;
  width: var(--s-360);
  height: max-content;
  box-shadow: 0 4px 8px 0 #00000033, 0 6px 20px 0 #00000030;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 1s;
  animation-name: animatetop;
  animation-duration: 1s;
}

.modal_header {
  padding: var(--s-20) var(--s-40);
  background-color: var(--white-color);
  color: var(--black);
  text-align: start;
  padding-top: var(--fs-24);
  line-height: var(--s-28);
}

.modal_header h2 {
  font-size: var(--fs-1rem);
  font-weight: var(--fw-500);
}

.ok {
  display: flex;
  justify-content: flex-end;
  padding: 0 var(--s-20) var(--s-20) 0;
}

.ok div {
  background: var(--primary-blue);
  color: var(--white-color);
  font-weight: var(--fw-600);
  height: var(--lh-35);
  width: var(--s-60);
  border-radius: var(--size-5);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.ok div:hover {
  background: var(--l-blue);
}

.close {
  color: var(--black);
  font-size: var(--fs-14);
  font-weight: var(--fw-500);
  height: var(--s-50);
  padding: var(--size-5) var(--size-5) 0 0;
  background: var(--primary-blue);
  text-align: center;
}

.close span {
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  position: absolute;
  align-items: center;
  border-radius: var(--fifty);
  right: 5px;
  top: 5px;
}

.close p {
  color: var(--white-color);
  padding-top: var(--s-8);
}

.close span:hover {
  background: var(--white-shadow);
  transition: ease-in-out 0.2s;
}

.close:hover,
.close:focus {
  color: var(--black);
  text-decoration: none;
  cursor: pointer;
}

.bg {
  background: var(--transparent);
  position: fixed;
  z-index: 1;
  top: 0;
  height: var(--min-height-100);
  width: var(--hundred);
}

.error {
  margin-bottom: var(--s-10);
}

@media (max-width: 950px) {
  .shade {
    padding: var(--s-10) var(--fs-14);
  }

  .shade > div {
    flex-direction: column;
  }

  .details {
    width: var(--hundred);
    padding-left: var(--size-5);
  }

  .footer > span {
    margin-right: 0;
    margin-bottom: var(--s-8);
  }

  .footer {
    flex-direction: column;
  }

  .title {
    padding: var(--pa-title);
  }

  .input {
    width: var(--hundred);
  }
}

@media (max-width: 575px) {
  .title {
    font-size: var(--fs-36);
    padding: var(--pa-title);
  }
}
