.form {
  background: var(--primary-blue);
  border-radius: var(--primary-border-radius);
  padding: var(--s-30) var(--s-40);
}

.chip {
  width: var(--size-98);
  margin: var(--size-1) !important;
  background: var(--white-color);
}

.chip > label {
  color: var(--light-gray-color);
}

.select {
  width: var(--size-23);
  margin: var(--size-1) !important;
  background: var(--white-color);
}

.select > label,
.select > div > svg,
.chip > div > svg {
  color: var(--black);
}

.btn {
  width: var(--size-23);
  margin: var(--size-1) !important;
  height: var(--s-55);
  border-radius: var(--s-10);
  border-width: 0;
  background: var(--blue);
  color: var(--white-color);
}
