.card {
  background: var(--white-color);
  border: solid 1px var(--bg-login-gray);
  color: var(--blue);
  height: var(--s-50);
  padding: 0 var(--fs-1rem);
  font-weight: var(--fw-500);
}

.card:hover {
  background: var(--input-border-color);
}

.ul {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px;
  list-style: none;
}

.ul a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--hundred);
  width: var(--hundred);
}

.ul li:first-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.ul li:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.cont {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--s-40), 60px));
  grid-template-rows: 1fr;
}

.btn {
  background: var(--red);
  color: var(--white-color);
  height: var(--s-50);
  padding: 0 var(--fs-24);
  font-weight: var(--fw-500);
}

.btn:hover {
  background: var(--red-hov);
}
