.display {
  padding: var(--s-10);
  font-weight: var(--fw-400);
  font-family: var(--font-family-secondary);
  font-size: var(--s-18);
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--white-color);
  cursor: pointer;
  border: 1px solid var(--light-gray-color);
  height: var(--s-50);
}

.options {
  background: var(--white-color);
  font-weight: var(--fw-400);
  font-family: var(--font-family-secondary);
  position: absolute;
  z-index: 1;
  width: var(--eighteen);
  padding-bottom: var(--size-5);
  border-radius: 0 0 10px 10px;
  box-shadow: 0 5px 15px var(--shadow);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-animation: fadeIn 0.5s;
  animation: fadeIn 0.5s;
}

.options div {
  width: var(--hundred);
}

.option,
.clicked {
  display: flex;
  align-items: center;
  cursor: pointer;
  width: var(--hundred);
  padding: var(--s-10);
}

.clicked {
  background: var(--ms-blue);
  border-bottom: 1px solid var(--light-shadow);
}

.label {
  margin-left: var(--size-5);
}

.input::-webkit-input-placeholder {
  font-family: var(--font-family-secondary);
  font-weight: var(--fw-400);
  font-size: var(--s-18);
}

.input {
  padding: var(--s-10);
  margin: 1%;
  width: 98%;
}

.cont {
  height: max-content;
  max-height: var(--s-240);
  overflow: auto;
}

.span {
  text-align: center;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 950px) {
  .options {
    position: relative;
    width: var(--hundred);
  }
}
