.dash_cont {
  display: flex;
}

.dash_cont > div:first-child {
  width: var(--size-22);
}

.dash_cont > div {
  width: var(--size-78);
}

@media (max-width: 950px) {
  .dash_cont {
    flex-direction: column;
  }

  .dash_cont > div:first-child,
  .dash_cont > div {
    width: var(--hundred);
  }
}
