.container {
  display: flex;
}

.container > div:first-child {
  width: var(--twenty);
}

.container > div {
  width: var(--eighty);
}

@media (max-width: 950px) {
  .container {
    flex-direction: column;
  }

  .container > div:first-child,
  .container > div {
    width: var(--hundred);
  }
}
