.container {
  background: var(--bg-login-gray);
}

.cont {
  display: grid;
  grid-template-columns: 24% 76%;
  gap: var(--s-30);
  padding: var(--s-20) var(--s-50);
}

@media (max-width: 950px) {
  .cont {
    padding: var(--s-20) var(--fs-1rem);
    grid-template-columns: 1fr;
  }
}
