.container {
  height: max-content;
  width: var(--hundred);
  margin-top: var(--s-80);
  width: 96%;
  margin-left: 2%;
  margin-right: 2%;
}

.cont {
  height: var(--s-580);
}

.btn {
  background-color: var(--white-color);
  color: var(--black);
  /* width: var(--fifty); */
  padding: var(--pa-btn);
  border-radius: var(--s-10);
  font-weight: var(--font-weight-bold);
  border-width: 0;
  box-shadow: 0 0 var(--size-5) var(--shadow);
  margin-top: var(--s-60);
}

.btn:hover {
  background: var(--primary-blue);
  color: var(--white-color);
}

.one,
.two,
.three,
.four,
.five,
.six,
.seven,
.eight {
  width: var(--size-95);
  margin: 0 auto;
  height: var(--s-532);
  background-size: cover !important;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: solid 1px var(--bg-login-gray);
  position: relative;
}

.one {
  background: url(../../../assets/slider_1\ 12.png) no-repeat center center;
}
.two {
  background: url(../../../assets/Group\ 108.png) no-repeat center center;
}
.three {
  background: url(../../../assets/Group\ 109.png) no-repeat center center;
}
.four {
  background: url(../../../assets/slider_3\ 12.png) no-repeat center center;
}
.five {
  background: url(../../../assets/s1.png) no-repeat center center;
}
.six {
  background: url(../../../assets/s2.png) no-repeat center center;
}
.seven {
  background: url(../../../assets/s3.png) no-repeat center center;
}
.eight {
  background: url(../../../assets/s4.png) no-repeat center center;
}

@media (max-width: 950px) {
  .one,
  .two,
  .three,
  .four,
  .five,
  .six,
  .seven,
  .eight {
    width: var(--ninety);
    background-size: cover;
  }

  .btn {
    width: var(--fifty);
  }

  .container {
    margin-top: var(--s-20);
  }
}
