.container {
  padding: var(--s-40) var(--ma-homepage);
  background: var(--quest-green);
}

.fileUpload {
  position: relative;
  overflow: hidden;
}

.fileUpload input.upload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: var(--s-20);
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}

.btn_browse:hover {
  background: var(--bg-main-button-hov);
  color: var(--white-color);
}

.btn_browse {
  border: 1px solid var(--input-border-color);
  text-align: center;
  width: var(--thirty);
  border-left: 0;
  border-radius: 0 var(--s-2) var(--s-2) 0;
  background-color: var(--white-color);
  color: var(--primary-blue);
  font-weight: var(--primary-border-radius);
  height: var(--s-40);
  padding: var(--s-10) 0;
  font-size: var(--fs-14);
  border-radius: 0 var(--primary-border-radius) var(--primary-border-radius) 0;
}

.f_input {
  height: var(--s-40);
  background-color: var(--white-color);
  border: 1px solid var(--input-border-color);
  border-radius: var(--primary-border-radius) 0 0 var(--primary-border-radius);
  width: var(--seventy);
  max-width: var(--s-400);
  float: left;
  padding: 0 var(--fs-14);
  color: var(--light-gray-color);
}

.file_cont {
  width: var(--hundred);
  display: flex;
}

.label span {
  color: var(--red);
}

.label {
  width: var(--hundred);
  font-weight: var(--fw-400);
  font-size: var(--s-20);
  margin-bottom: var(--size-5);
}

.select {
  height: var(--s-40);
  padding: var(--s-10) var(--fs-14);
  border-radius: var(--primary-border-radius);
  width: var(--hundred);
  color: var(--light-gray-color);
  border: solid 1px var(--input-border-color);
}

.select_cont {
  display: flex;
  flex-direction: column;
  width: var(--size-31);
}

.row {
  display: flex;
  justify-content: space-between;
  width: var(--hundred);
  margin-bottom: var(--s-40);
}

.select option:not(:first-of-type) {
  color: var(--black);
}

.select option {
  font-size: var(--s-20);
}

.textarea {
  height: auto;
  resize: none;
  border-radius: var(--primary-border-radius);
  padding: var(--s-20);
  border: solid 1px var(--input-border-color);
}

.select,
.textarea::-webkit-input-placeholder,
.input::-webkit-input-placeholder {
  font-family: var(--font-family-primary);
}

.text_cont {
  display: flex;
  flex-direction: column;
  width: var(--hundred);
  margin-bottom: var(--s-40);
}

.radio span {
  margin-left: var(--size-5);
}

.mt5 {
  margin-top: var(--s-40);
}

.input {
  height: var(--s-40);
  padding: var(--s-10) var(--fs-14);
  border-radius: var(--primary-border-radius);
  border: 1px solid var(--input-border-color);
}

.input_cont {
  width: var(--size-45);
  display: flex;
  flex-direction: column;
}

.submit_btn {
  background: var(--primary-blue);
  color: var(--white-color);
  padding: var(--pa-btn);
  border-radius: var(--s-10);
  font-weight: var(--font-weight-bold);
  border-width: 0;
  margin-right: var(--fs-14);
}

.cancel_btn {
  background: var(--red);
  color: var(--white-color);
  padding: var(--pa-btn);
  border-radius: var(--s-10);
  font-weight: var(--font-weight-bold);
  border-width: 0;
}

.cancel_btn:hover {
  background: var(--red-hov);
}

.btn_cont {
  margin-top: var(--s-40);
}

@media (max-width: 950px) {
  .row {
    flex-direction: column;
  }

  .select_cont {
    width: var(--hundred);
    margin-bottom: var(--s-20);
  }

  .input_cont {
    width: var(--hundred);
    margin-bottom: var(--s-20);
  }

  .f_input {
    width: var(--thirty);
  }
}
