.nav {
  height: var(--footer-logo-h); /* 85 */
  display: flex;
}

.left {
  width: var(--twenty);
  background: var(--green);
  display: flex;
  justify-content: center;
  align-items: center;
}

.right {
  width: var(--eighty);
  background: var(--white-color);
  display: flex;
  justify-content: space-between;
  padding: 0 var(--s-20) var(--s-20);
  align-items: flex-end;
}

.btn {
  font-weight: var(--fw-400);
  background: var(--green);
  border-width: 0;
  color: var(--white-color);
  padding: var(--s-8) var(--fs-14);
  height: max-content;
}

.btn:hover {
  background: var(--lb-hov);
}

.btn + h4 {
  font-size: var(--fs-36);
  font-weight: var(--font-weight-bold);
  font-family: var(--font-family-secondary);
  color: var(--primary-blue);
}

.admin {
  display: flex;
  align-items: center;
  padding: var(--size-5);
  border-radius: var(--size-5);
  cursor: pointer;
}

.admin:hover {
  background: var(--input-border-color);
}

.admin p {
  font-size: var(--fs-14);
  font-weight: var(--fw-400);
  color: var(--l-blue);
  margin-left: var(--size-5);
}
