.nav {
  height: var(--footer-logo-h); /* 85 */
  display: flex;
}

.left {
  width: var(--size-22);
  background: var(--green);
  display: flex;
  justify-content: center;
  align-items: center;
}

.right {
  width: var(--size-78);
  background: var(--white-color);
  display: flex;
  justify-content: space-between;
  padding: 0 var(--s-20) var(--s-20);
  align-items: flex-end;
}

.btn {
  font-weight: var(--fw-400);
  background: var(--green);
  border-width: 0;
  color: var(--white-color);
  padding: var(--s-8) var(--s-20);
  height: max-content;
  margin-bottom: -10px;
}

.btn:hover {
  background: var(--lb-hov);
}

.btn + h4 {
  font-size: var(--fs-36);
  font-weight: var(--font-weight-bold);
  font-family: var(--font-family-secondary);
  color: var(--primary-blue);
}

.admin {
  display: flex;
  align-items: center;
  padding: var(--size-5);
  border-radius: var(--size-5);
  cursor: pointer;
}

.admin:hover {
  background: var(--input-border-color);
}

.admin p {
  font-size: var(--fs-14);
  font-weight: var(--fw-400);
  color: var(--l-blue);
  margin-left: var(--size-5);
}

.pop_up {
  background: var(--white-color);
  position: absolute;
  right: 0;
  z-index: 2;
  width: var(--s-300);
  height: var(--s-240);
  box-shadow: 0 0 4px 4px var(--light-shadow);
}

.cont {
  height: var(--s-180);
  background: var(--primary-blue);
  justify-content: center;
  display: flex;
  align-items: center;
}

.footer {
  height: var(--s-60);
  background: var(--white-color);
  display: flex;
  justify-content: space-between;
  padding: var(--s-8);
}

.btn2,
.btn3 {
  padding: var(--s-10);
  color: var(--white-color);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.btn2 {
  background: var(--l-blue);
}

.btn3 {
  background: var(--green);
}

.icon_cont {
  position: absolute;
  left: var(--s-10);
  display: none;
}

.icon_cont > svg {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

.sidebar {
  position: relative;
  top: 0;
  width: var(--s-180);
  left: 0;
  z-index: 3;
  box-shadow: 0 4px 5px var(--shadow);
}

.nav2 {
  align-items: flex-start;
  transition: none;
  animation: none;
}

.sidebar > div {
  background: var(--header-txt);
  width: var(--s-270);
  height: var(--hundred);
}

.card {
  border-bottom: 1px solid var(--light-gray-color);
  height: var(--s-50);
  display: flex;
  align-items: center;
  padding-left: var(--s-20);
  text-align: center;
}

.card:hover {
  background: var(--card-hov);
}

.card > span {
  width: var(--s-20);
  height: var(--s-20);
  margin-right: var(--s-10) !important;
}

.card h6 {
  font-weight: var(--fw-400);
  color: var(--white-color);
  font-size: var(--fs-1rem);
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 950px) {
  .nav {
    flex-direction: column-reverse;
    height: max-content;
  }

  .icon_cont {
    display: block;
  }

  .left {
    width: var(--hundred);
    height: var(--s-70);
  }

  .right {
    width: var(--hundred);
    padding: 0 var(--s-10);
    align-items: center;
    height: var(--s-70);
  }

  .btn {
    padding: var(--s-8) var(--fs-14);
    font-size: var(--s-10);
  }

  .btn + h4 {
    font-size: var(--fs-24);
  }

  .admin p {
    font-size: var(--fs-12);
  }
}
