.cont {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--s-20);
}

.cont > div {
  width: 32.33%;
  height: var(--s-95);
  display: flex;
}

.cont > div > div {
  width: var(--size-25);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--size-5);
  position: relative;
  z-index: 1;
}

.cont > div > div:nth-last-child(1) {
  background: var(--white-color);
  width: var(--size-75);
  padding: var(--s-30) var(--s-10);
  display: flex;
  flex-direction: column;
  border-radius: 0 var(--size-5) var(--size-5) 0;
  margin-left: -1%;
  position: relative;
  z-index: 0;
}

.one > div {
  background: var(--l-blue);
}

.two > div {
  background: var(--yellow);
}

.three > div {
  background: var(--login-page-title-color);
}

.cont p {
  font-size: var(--fs-24);
  font-weight: var(--fw-400);
  color: var(--primary-blue);
  text-align: center;
}

.cont h6 {
  color: var(--dark-green);
  font-size: var(--fs-24);
  font-weight: var(--font-weight-bold);
}

.justify_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.justify_center > span {
  height: var(--s-30) !important;
  width: var(--s-30) !important;
}

@media (max-width: 950px) {
  .cont {
    flex-direction: column;
    margin-bottom: var(--s-20);
  }

  .cont > div {
    width: var(--hundred);
    margin-bottom: var(--s-10);
  }
}
