.container {
  background: var(--primary-blue);
  padding: var(--fs-12);
  border-radius: var(--primary-border-radius);
  display: flex;
  align-items: center;
  cursor: pointer;
}

.cont {
  border-radius: var(--primary-border-radius);
  margin-bottom: var(--fs-10);
  background: var(--white-color);
}

.plus {
  background: var(--white-color);
}

.plus,
.minus {
  height: var(--s-30);
  width: var(--s-30);
  border-radius: var(--fifty);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.plus:hover,
.minus:hover {
  background: var(--black);
}

.title {
  color: var(--white-color);
  font-weight: var(--fw-500);
  margin-left: var(--s-20);
  width: var(--fourty);
}

.minus {
  background: var(--red);
}

.shade {
  background: var(--shade);
  padding: var(--s-20) var(--s-30);
  border-radius: var(--primary-border-radius);
  width: var(--hundred);
  display: flex;
  flex-direction: column;
}

.form {
  display: flex;
  align-items: center;
  background: var(--d-bg);
  padding: var(--s-20);
}

.shade > div {
  display: flex;
  margin-bottom: var(--s-20);
}

.shade > div:nth-last-child(1) {
  margin-bottom: 0;
}

.form > span * {
  padding: 0;
}

.form > span {
  padding: 0;
  margin-left: var(--s-30);
}

.img_cont {
  height: var(--s-64);
  width: var(--s-64);
  padding: 0;
  margin-right: var(--s-20);
}

.details {
  font-weight: var(--fw-400);
  flex-grow: 100;
}

.details,
.footer,
.details p,
.footer span {
  padding: 0;
}

.details > p {
  font-weight: var(--font-weight-bold);
}

.footer {
  display: flex;
  border-bottom: 1px solid var(--light-gray-color);
  margin: var(--s-10) 0;
}

.footer p {
  font-size: var(--fs-12);
  color: var(--dark-gray);
}

.footer > span {
  margin-right: var(--s-40);
  display: flex;
  margin-bottom: var(--s-8);
}

.footer > span > span {
  margin-right: var(--size-5) !important;
}

.cont2 {
  background: var(--white-color);
  padding: var(--fs-24);
  width: var(--hundred);
}

.btn {
  color: var(--white-color);
  background: var(--light-red);
  font-size: var(--fs-12);
  padding: var(--s-10) var(--s-30);
  border-width: 0;
  margin-left: auto;
}

.btn:hover {
  background: var(--dark-red);
}

.input {
  border-width: 0;
  padding: var(--fs-14) var(--s-40);
  width: var(--size-75);
}

.input::-webkit-input-placeholder {
  font-weight: var(--fw-400);
  font-size: var(--fs-14);
  color: var(--light-gray-color);
}

.submit,
.cancel {
  font-size: var(--fs-12);
  font-weight: var(--fw-400);
  padding: var(--s-10) var(--s-18);
  height: max-content;
  border-radius: var(--s-8);
  border-width: 0;
  margin-left: var(--s-20);
}

.cancel {
  background: var(--red);
  color: var(--white-color);
}

.cancel:hover {
  background: var(--dark-red);
}

.submit {
  color: var(--white-color);
  background: var(--m-green);
}

.submit:hover {
  background: var(--dark-green);
}

@media (max-width: 950px) {
  .shade {
    padding: var(--s-10) var(--fs-14);
  }

  .form,
  .shade > div {
    flex-direction: column;
  }

  .details {
    width: var(--hundred);
    padding-left: var(--size-5);
  }

  .btn {
    font-size: var(--fs-12);
    padding: var(--s-8) var(--s-20);
  }

  .cont2 {
    padding: var(--fs-1rem);
  }

  .footer > span {
    margin-right: 0;
    margin-bottom: var(--s-8);
  }

  .footer {
    flex-direction: column;
  }
}
