.container {
  background: var(--primary-blue);
  padding: var(--fs-12);
  border-radius: var(--primary-border-radius);
  display: flex;
  align-items: center;
  cursor: pointer;
}

.cont {
  border-radius: var(--primary-border-radius);
  margin-bottom: var(--fs-10);
  background: var(--white-color);
}

.plus {
  background: var(--white-color);
}

.plus,
.minus {
  height: var(--s-20);
  width: var(--s-20);
  border-radius: var(--fifty);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-left: var(--s-10);
}

.plus:hover,
.minus:hover {
  background: var(--black);
}

.title {
  color: var(--white-color);
  font-weight: var(--fw-500);
  margin-left: var(--s-20);
  width: var(--fourty);
}

.minus {
  background: var(--red);
}

.shade {
  background: var(--shade);
  padding: var(--s-20) var(--s-30);
  border-radius: var(--primary-border-radius);
  width: var(--hundred);
  display: flex;
  flex-direction: column;
}

.form {
  display: flex;
  align-items: center;
  background: var(--d-bg);
  padding: var(--s-20);
}

.shade > div {
  display: flex;
  margin-bottom: var(--s-20);
}

.shade > div:nth-last-child(1) {
  margin-bottom: 0;
}

.form > span * {
  padding: 0;
}

.form > span {
  padding: 0;
  margin-left: var(--s-30);
}

.img_cont {
  height: var(--s-64);
  width: var(--s-64);
  padding: 0;
  margin-right: var(--s-20);
}

.details {
  font-weight: var(--fw-400);
  flex-grow: 100;
}

.details,
.footer,
.details p,
.footer span,
.footer a {
  padding: 0;
}

.details > p {
  font-weight: var(--font-weight-bold);
}

.footer {
  display: flex;
  border-bottom: 1px solid var(--light-gray-color);
  margin: var(--s-10) 0;
}

.footer p {
  font-size: var(--fs-12);
  color: var(--dark-gray);
}

.footer > span {
  margin-right: var(--s-40);
  display: flex;
  margin-bottom: var(--s-8);
}

.footer > span > span {
  margin-right: var(--size-5) !important;
}

.cont2 {
  background: var(--white-color);
  padding: var(--fs-24);
  width: var(--hundred);
}

.btn {
  color: var(--white-color);
  background: var(--light-red);
  font-size: var(--fs-12);
  padding: var(--s-10) var(--s-30);
  border-width: 0;
  margin-left: auto;
  margin-right: var(--s-10);
}

.btn:hover {
  background: var(--dark-red);
}

.input {
  border-width: 0;
  padding: var(--fs-14) var(--s-40);
  width: var(--size-75);
}

.input::-webkit-input-placeholder {
  font-weight: var(--fw-400);
  font-size: var(--fs-14);
  color: var(--light-gray-color);
}

.submit,
.cancel {
  font-size: var(--fs-12);
  font-weight: var(--fw-400);
  padding: var(--s-10) var(--s-20);
  height: max-content;
  border-radius: var(--s-8);
  border-width: 0;
  margin-left: var(--s-20);
}

.cancel {
  background: var(--red);
  color: var(--white-color);
}

.cancel:hover {
  background: var(--dark-red);
}

.submit {
  color: var(--white-color);
  background: var(--m-green);
}

.submit:hover {
  background: var(--dark-green);
}

.ok {
  display: flex;
  justify-content: flex-end;
  padding: 0 var(--s-20) var(--s-20) 0;
}

.ok div {
  background: var(--primary-blue);
  color: var(--white-color);
  font-weight: var(--fw-600);
  height: var(--lh-35);
  width: var(--s-60);
  border-radius: var(--size-5);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.ok div:hover {
  background: var(--l-blue);
}

.modal_content {
  position: relative;
  background-color: var(--white-color);
  margin: 0 auto;
  margin-top: var(--s-70);
  z-index: 2;
  padding: 0;
  border-width: 0;
  width: var(--s-360);
  height: max-content;
  border-radius: var(--size-5);
  box-shadow: 0 4px 8px 0 #00000033, 0 6px 20px 0 #00000030;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 1s;
  animation-name: animatetop;
  animation-duration: 1s;
}

.modal_header {
  padding: var(--s-20) var(--s-30);
  background-color: var(--white-color);
  color: var(--black);
  border-radius: 0 0 var(--size-5) var(--size-5);
  text-align: center;
  padding-top: var(--fs-24);
  line-height: var(--s-28);
}

.modal_header h2 {
  font-size: var(--fs-1rem);
  font-weight: var(--fw-500);
}

.close {
  color: var(--black);
  font-size: var(--s-20);
  font-weight: var(--fw-500);
  height: var(--s-50);
  padding: var(--size-5) var(--size-5) 0 0;
  background: var(--primary-blue);
  text-align: center;
}

.close span {
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  position: absolute;
  align-items: center;
  border-radius: var(--fifty);
  right: 5px;
  top: 5px;
}

.close p {
  color: var(--white-color);
  padding-top: var(--s-8);
}

.close span:hover {
  background: var(--white-shadow);
  transition: ease-in-out 0.2s;
}

.close:hover,
.close:focus {
  color: var(--black);
  text-decoration: none;
  cursor: pointer;
}

.bg {
  background: var(--transparent);
  position: fixed;
  z-index: 1;
  top: 0;
  height: var(--min-height-100);
  width: var(--hundred);
}

.replies:hover {
  color: var(--red);
  cursor: pointer;
}

@-webkit-keyframes animatetop {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 950px) {
  .shade {
    padding: var(--s-10) var(--fs-14);
  }

  .form,
  .shade > div {
    flex-direction: column;
  }

  .details {
    width: var(--hundred);
    padding-left: var(--size-5);
  }

  .btn {
    font-size: var(--fs-12);
    padding: var(--s-8) var(--s-20);
  }

  .cont2 {
    padding: var(--fs-1rem);
  }

  .footer > span {
    margin-right: 0;
    margin-bottom: var(--s-8);
  }

  .footer {
    flex-direction: column;
  }

  .input {
    width: var(--hundred);
  }

  .submit,
  .cancel {
    width: var(--hundred);
    margin-left: 0;
    margin-top: var(--s-8);
  }
}
