.container {
  border-top: var(--size-3) solid var(--primary-blue);
  background: var(--white-color);
  padding: 0 var(--size-5);
}

.label {
  margin: 0;
  color: var(--primary-blue);
  font-weight: var(--font-weight-bold);
  padding: var(--fs-12) var(--size-5);
}

.paper {
  box-shadow: none;
}
