.container {
  border-top: var(--size-3) solid var(--primary-blue);
  background: var(--white-color);
  padding: 0 var(--size-5);
  padding-bottom: var(--s-40);
}

.label {
  margin: 0;
  color: var(--primary-blue);
  font-weight: var(--font-weight-bold);
  padding: var(--fs-12) var(--size-5);
}

.paper {
  border: 1px solid var(--light-shadow);
  border-bottom-width: 0;
  box-shadow: none;
}

.cell {
  border-right: 1px solid #eaeaea;
}
