.container {
  border: solid 1px var(--bg-login-gray);
  border-radius: var(--s-10);
  padding: var(--s-10);
  background: var(--white-color);
  color: var(--light-gray-color);
  font-size: var(--s-13-5);
  overflow-wrap: break-word;
  height: var(--s-75);
}

.container:hover {
  background: var(--primary-blue);
  color: var(--white-color);
}
