.container {
  background: var(--quest-card-bg);
  width: var(--hundred);
  padding: var(--s-20) var(--s-30);
  border-radius: var(--primary-border-radius);
  display: flex;
  flex-direction: column;
  margin: var(--s-20) 0;
}

.cont {
  width: var(--hundred);
  display: flex;
  justify-content: space-between;
}

.footer {
  display: flex;
  border-bottom: 1px solid var(--light-gray-color);
  margin: var(--s-10) 0;
  margin-left: var(--s-70);
  padding-bottom: var(--s-10);
}

.footer p {
  margin-right: var(--sub-heading-h);
  font-size: var(--fs-12);
  display: flex;
  justify-content: center;
  color: var(--light-gray-color);
}

.footer p > span,
.footer2 p > span {
  height: max-content !important;
  margin-right: var(--size-3) !important;
}

.footer p > span + span {
  text-transform: uppercase;
  margin-left: var(--size-3);
}

.footer2 {
  margin-left: var(--s-70);
  display: flex;
}

.footer2 p {
  font-size: var(--fs-12);
  display: flex;
  justify-content: center;
  margin-right: var(--s-30);
  color: var(--light-gray-color);
}

.body {
  line-height: var(--s-30);
}

.img_cont,
.img_cont2,
.img_cont3 {
  background: var(--primary-blue);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--fifty);
}

.img_cont {
  height: var(--s-50);
  width: var(--s-50);
}

.theme {
  background: var(--primary-blue);
  color: var(--white-color);
  padding: var(--pa-btn);
  border-radius: var(--primary-border-radius);
  font-weight: var(--font-weight-bold);
  height: max-content;
  text-align: center;
  text-transform: uppercase;
}

.details {
  font-weight: var(--fw-400);
  width: var(--sixty);
  margin-right: auto;
  margin-left: var(--fs-1rem);
}

.footer2 + div > div {
  background: var(--primary-blue);
  cursor: pointer;
  height: var(--brands-size);
  width: var(--s-50);
  border-radius: var(--s-8);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -15px;
}

.footer2 + div > div:hover {
  background: var(--l-blue);
}

.footer2 + div {
  display: flex;
  justify-content: flex-end;
}

.answers {
  background: var(--white-color);
  border-radius: var(--fs-12);
  padding: var(--s-20);
  margin-top: var(--s-30);
}

.date {
  display: flex;
  margin-top: var(--fs-1rem);
  margin-bottom: var(--s-10);
}

.date p {
  font-weight: var(--fw-400);
  margin-left: var(--size-3);
}

.date > span {
  height: max-content !important;
}

.btn {
  color: var(--white-color);
  background: var(--primary-blue);
  font-weight: bold;
  border-radius: var(--fs-12);
  padding: var(--s-10) var(--s-30);
  border-width: 0;
  height: max-content;
}

.btn:hover {
  background: var(--l-blue);
}

.input {
  padding: var(--s-10);
  border-width: 0;
  width: var(--size-75);
}

.input::-webkit-input-placeholder,
.reply_box input::-webkit-input-placeholder {
  font-size: var(--fs-12);
  font-weight: var(--fw-400);
  font-family: var(--font-family-primary);
  color: var(--light-gray-color);
}

.box1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--input-border-color);
  padding: var(--s-8) var(--fs-1rem);
}

.box2 {
  background: var(--white-color);
  padding: var(--fs-14);
  border: solid 2px var(--input-border-color);
  margin-bottom: var(--s-20);
}

.view + div {
  margin-left: -40px;
  padding-bottom: var(--s-20);
}

.view {
  background: var(--input-border-color);
  border-color: var(--card-hov);
  border-radius: var(--size-5);
  font-size: var(--fs-12);
  font-weight: var(--fw-400);
  text-align: center;
  padding: var(--size-3);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.top {
  display: grid;
  grid-template-columns: var(--five) var(--size-95);
}

.main {
  margin-left: var(--s-20);
}

.body2 {
  color: var(--light-gray-color);
  font-weight: var(--fw-400);
  line-height: var(--s-22);
  margin-bottom: var(--s-10);
}

.name {
  font-weight: var(--fw-500);
  font-size: var(--fs-12);
  margin-top: var(--s-10);
}

.name + p {
  font-weight: var(--fw-400);
  font-size: var(--s-10);
  color: var(--light-gray-color);
  margin: var(--s-10) 0;
}

.name + p > span {
  margin-right: var(--size-5) !important;
}

.name + p + p {
  color: var(--light-gray-color);
  font-weight: var(--fw-400);
}

.img_cont2 {
  width: var(--s-45);
  height: var(--s-45);
}

.img_cont3 {
  width: var(--s-30);
  height: var(--s-30);
}

.img_cont3 + div {
  margin-left: var(--s-10);
}

.cont2 {
  margin-top: var(--s-10);
  margin-left: var(--s-40);
}

.grid {
  display: grid;
  grid-template-columns: var(--ten) var(--ninety);
  width: var(--s-300);
}

.flex > span {
  height: max-content !important;
  cursor: pointer;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.btn2 {
  background: var(--red);
  color: var(--white-color);
  font-weight: bold;
  border-radius: var(--fs-12);
  padding: var(--s-8) var(--s-30);
  border-width: 0;
  margin-left: var(--s-10);
}

.btn2:hover {
  background: var(--red-hov);
}

.reply_box {
  background: var(--input-border-color);
  padding: var(--s-10);
  margin-top: var(--s-10);
  margin-bottom: var(--s-20);
}

.reply_box input {
  width: var(--hundred);
  padding: var(--s-10);
  border-width: 0;
  margin-bottom: var(--s-10);
}

.answers,
.cont2 {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 950px) {
  .container {
    padding: var(--s-10);
  }

  .cont {
    flex-direction: column;
  }

  .details {
    width: var(--hundred);
    margin-left: 0;
    margin-top: var(--s-10);
    margin-bottom: var(--s-10);
  }

  .footer,
  .footer2 {
    margin-left: 0;
    flex-direction: column;
    align-items: flex-start;
  }

  .footer p,
  .footer2 p {
    margin-right: 0;
    margin-bottom: var(--size-5);
  }

  .theme {
    width: max-content;
  }
}
