.container {
  background: var(--quest-card-bg);
  width: var(--hundred);
  padding: var(--s-20) var(--s-30);
  border-radius: var(--primary-border-radius);
  display: flex;
  flex-direction: column;
  margin: var(--s-20) 0;
}

.cont {
  width: var(--hundred);
  display: flex;
  justify-content: space-between;
}

.footer {
  display: flex;
  border-bottom: 1px solid var(--light-gray-color);
  margin: var(--s-10) 0;
  margin-left: var(--s-70);
  padding-bottom: var(--s-10);
}

.footer p {
  margin-right: var(--sub-heading-h);
  font-size: var(--fs-12);
  display: flex;
  justify-content: center;
  color: var(--light-gray-color);
}

.footer p > span,
.footer2 p > span {
  height: max-content !important;
  margin-right: var(--size-3) !important;
}

.footer p > span + span {
  text-transform: uppercase;
  margin-left: var(--size-3);
}

.footer2 {
  margin-left: var(--s-70);
  display: flex;
}

.footer2 p {
  font-size: var(--fs-12);
  display: flex;
  justify-content: center;
  margin-right: var(--s-30);
  color: var(--light-gray-color);
}

.body {
  line-height: var(--s-30);
}

.img_cont {
  background: var(--primary-blue);
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--s-50);
  width: var(--s-50);
  border-radius: var(--fifty);
}

.theme {
  background: var(--primary-blue);
  color: var(--white-color);
  padding: var(--pa-btn);
  border-radius: var(--primary-border-radius);
  font-weight: var(--font-weight-bold);
  height: max-content;
  text-transform: uppercase;
}

.details {
  font-weight: var(--fw-400);
  width: var(--sixty);
  margin-right: auto;
  margin-left: var(--fs-1rem);
}

.footer2 + div > div {
  background: var(--primary-blue);
  cursor: pointer;
  height: var(--brands-size);
  width: var(--s-50);
  border-radius: var(--s-8);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -15px;
}

.footer2 + div {
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 950px) {
  .container {
    padding: var(--s-10);
  }

  .cont {
    flex-direction: column;
  }

  .details {
    width: var(--hundred);
    margin-left: 0;
    margin-top: var(--s-10);
    margin-bottom: var(--s-10);
  }

  .footer,
  .footer2 {
    margin-left: 0;
    flex-direction: column;
    align-items: flex-start;
  }

  .footer p,
  .footer2 p {
    margin-right: 0;
    margin-bottom: var(--size-5);
  }

  .theme {
    width: max-content;
  }
}
