.container {
  width: var(--width-100);
  min-height: var(--min-height-100);
  background: var(--bg);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: var(--s-10) 0;
  padding-top: var(--s-50);
}

@media (max-width: 950px) {
  .container {
    align-items: center;
    padding-top: var(--s-10);
  }
}
