.container {
  font-family: var(--font-family-secondary);
  background: var(--white-color);
  font-weight: var(--fw-400);
}

.cont {
  padding: var(--s-10);
  padding-bottom: var(--s-50);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputCont1 {
  width: var(--s-450);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--s-20);
}

.inputCont2 {
  width: var(--s-450);
}

.inputCont2 > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.label2 {
  margin: 0;
  color: var(--primary-blue);
  font-weight: var(--font-weight-bold);
  padding: var(--fs-14) var(--s-10);
  border-top: var(--size-3) solid var(--primary-blue);
  background: var(--white-color);
  margin-bottom: var(--s-10);
}

.label2 {
  margin-bottom: 0;
  border-bottom: 1px solid var(--d-bg);
  display: flex;
  justify-content: space-between;
}

.input {
  border: solid 1px var(--shade);
  padding: var(--s-10);
  font-size: var(--fs-1rem);
  padding-left: var(--fs-1rem);
  width: var(--s-250);
}

.input::-webkit-input-placeholder {
  font-weight: var(--fw-400);
  font-size: var(--fs-1rem);
  color: var(--shade);
}

.btn {
  height: var(--lh-35);
  width: var(--s-100);
  color: var(--white-color);
  font-weight: var(--fw-400);
  font-size: var(--fs-14);
  border-width: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.submit {
  background: var(--l-blue);
}

.submit:hover {
  background: var(--lb-hov);
}

.cancel {
  background: var(--pale-red);
  margin-left: var(--s-20);
  cursor: pointer;
}

.cancel:hover {
  background: var(--red-hov);
}

.btn_cont {
  display: flex;
  justify-content: center !important;
  margin-top: 30px;
}
.error {
  width: 250px;
  margin-left: auto;
  color: red;
}

@media (max-width: 950px) {
  .inputCont1,
  .inputCont2 {
    width: var(--hundred);
  }

  .input {
    width: var(--s-180);
  }

  .error {
    width: var(--s-180);
  }
}
