.container {
  height: max-content;
  width: 96%;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: var(--s-80);
}

.cont {
  height: var(--s-380);
}

.btn {
  background-color: var(--white-color);
  color: var(--black);
  width: var(--fourty);
  padding: var(--pa-btn);
  border-radius: var(--s-10);
  font-weight: var(--font-weight-bold);
  border-width: 0;
  margin-top: var(--s-120);
  box-shadow: 0 0 var(--size-5) var(--shadow);
}

.btn:hover {
  background: var(--primary-blue);
  color: var(--white-color);
}

.one,
.two,
.three {
  width: var(--size-95);
  margin: 0 auto;
  height: 330px;
  background-size: cover !important;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: var(--size-5);
  border: solid 1px var(--bg-login-gray);
}

.one {
  background: url(../../../assets/slider_1\ 1.png) no-repeat center center;
}
.two {
  background: url(../../../assets/slider_2\ 1.png) no-repeat center center;
}
.three {
  background: url(../../../assets/slider_3\ 1.png) no-repeat center center;
}

@media (max-width: 950px) {
  .one,
  .two,
  .three {
    width: var(--ninety);
    background-size: cover;
  }

  .btn {
    margin-top: var(--card-btn-w);
    width: var(--fifty);
  }

  .container {
    margin-top: var(--ma-btm-home-top);
  }
}
