.ul {
  border-left: 1px solid var(--white-color);
  list-style: none;
  padding-left: var(--s-100);
  font-weight: var(--fw-400);
  margin-left: -18px;
  padding-top: var(--s-10);
}

.title {
  border: solid 1px var(--white-color);
  width: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: var(--s-40);
  padding: 0 var(--fs-14);
  color: var(--white-color);
  border-radius: var(--size-5);
  cursor: pointer;
}

.title > span {
  margin-right: var(--s-8) !important;
}

.key,
.key2 {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px var(--white-color);
  width: var(--fs-24);
  height: var(--s-40);
  position: absolute;
  margin-left: -30px;
  color: var(--white-color);
  border-radius: var(--size-5);
}

.key {
  cursor: pointer;
}

.hr {
  height: var(--s-40);
  width: var(--s-70);
  position: absolute;
  margin-left: -100px;
  color: var(--white-color);
}

.hr2 {
  height: var(--s-20);
  border-bottom: 1px solid var(--white-color);
  color: var(--white-color);
  width: var(--s-70);
}

.ul > li:nth-last-child(1) > .hr {
  display: flex;
  flex-direction: column;
  height: var(--hundred);
}

.ul li:nth-last-child(1) .hr3 {
  flex-grow: 100;
  margin-left: -10px;
  background: var(--light-gray-color);
}

.ul > li {
  margin-top: var(--s-8);
}

.ul > li:first-child {
  margin-top: 0;
}

.ul2 {
  padding-left: var(--s-50);
  border: none;
  margin-top: 0;
}

.div {
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 1s;
  animation-name: animatetop;
  animation-duration: 1s;
}

@-webkit-keyframes animatetop {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
