.container {
  background: var(--primary-blue);
  color: var(--white-color);
  padding: var(--s-10);
  text-align: center;
  border-radius: var(--primary-border-radius);
  margin: var(--s-30) 0;
  cursor: pointer;
}

.container:hover {
  background: var(--bg-main-button-hov);
}

.form {
  padding: var(--s-20) var(--s-50);
}

.modal_content {
  position: relative;
  background-color: var(--white-color);
  margin: auto;
  z-index: 2;
  padding: 0;
  border-width: 0;
  width: var(--sixty);
  height: max-content;
  border-radius: var(--primary-border-radius);
  box-shadow: 0 4px 8px 0 #00000033, 0 6px 20px 0 #00000030;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 1s;
  animation-name: animatetop;
  animation-duration: 1s;
}

.modal_header {
  padding: var(--s-20) var(--s-10);
  background-color: var(--primary-blue);
  color: var(--white-color);
  font-weight: var(--font-weight-bold);
  font-size: var(--fs-14);
  text-align: center;
}

.close {
  color: var(--black);
  font-size: var(--s-20);
  font-weight: var(--fw-500);
  padding: var(--fs-12);
  padding-right: var(--s-30);
  display: flex;
  justify-content: flex-end;
}

.close span {
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--fifty);
}

.close span:hover {
  background: var(--light-shadow);
  transition: ease-in-out 0.2s;
}

.close:hover,
.close:focus {
  color: var(--black);
  text-decoration: none;
  cursor: pointer;
}

.bg {
  background: var(--transparent);
  position: fixed;
  z-index: 1;
  top: 0;
  height: var(--min-height-100);
  width: var(--hundred);
}

@-webkit-keyframes animatetop {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 950px) {
  .form {
    padding: var(--fs-1rem) var(--s-20);
  }
}

@media (max-width: 690px) {
  .modal_content {
    width: var(--size-95);
  }

  .modal_header {
    font-size: var(--fs-12);
  }
}
