.container {
  padding: var(--s-20);
  background: var(--white-color);
  border-radius: var(--fs-12);
  margin-bottom: var(--s-20);
  display: flex;
}

.avatar {
  width: var(--ten);
  margin-top: var(--fs-12);
}

.avatar > span {
  height: var(--s-80) !important;
  width: var(--s-75) !important;
}

.description,
.description .row,
.description .row div,
.description p,
.description span {
  padding: 0;
}

.description {
  width: var(--hundred);
  margin-top: var(--s-30);
}

.row {
  width: var(--hundred);
  display: flex;
  font-size: var(--fs-14);
  margin-bottom: var(--s-18);
}

.row p {
  font-weight: var(--font-weight-bold);
  color: var(--primary-blue);
}

.row span {
  font-weight: var(--fw-400);
  color: var(--black);
  padding-left: var(--s-10);
}

.row > div {
  width: var(--fifty);
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.main {
  width: var(--ninety);
  padding: 0 var(--s-20);
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: var(--s-10);
  margin-bottom: var(--s-10);
  border-bottom: 1px solid var(--input-border-color);
}

.body {
  font-weight: var(--fw-400);
  color: var(--light-gray-color);
  line-height: var(--s-20);
  text-align: justify;
}

.top_p {
  color: var(--primary-blue);
  font-weight: var(--fw-400) !important;
  margin-bottom: var(--s-30);
}

.top_p span {
  color: var(--black);
}

.show_btn {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: var(--fs-1rem);
  /* width: 50%; */
}

.drop_btn {
  cursor: pointer;
  color: var(--red);
  font-weight: var(--fw-500);
  margin-left: auto;
  padding-left: auto;
}

.title {
  color: var(--primary-blue);
  font-weight: var(--font-weight-bold);
  font-size: var(--s-20);
}

.btn {
  background: var(--primary-blue);
  border-width: 0;
  padding: var(--fs-12) var(--s-40);
  border-radius: var(--s-10);
  color: var(--white-color);
}

.btn:hover {
  background: var(--l-blue);
}

.use_case {
  background: var(--input-border-color);
  border-radius: var(--primary-border-radius);
  padding: var(--s-8);
  width: 100%;
  margin-top: 15px;
}

.head {
  color: var(--primary-blue);
  font-weight: var(--fw-600);
  font-size: var(--fs-14);
}

.head + p {
  font-weight: var(--fw-400);
  font-size: var(--fs-14);
  color: var(--header-txt);
  line-height: var(--s-20);
}

.title2 {
  display: none;
}

.useContainer {
  display: flex;
  justify-content: space-between;
}
.useCont {
  width: 80%;
}

@media (max-width: 950px) {
  .useCont {
    width: 100%;
  }

  .useContainer {
    display: block;
  }

  .title3 {
    display: none;
  }

  .container {
    flex-direction: column;
    width: var(--hundred);
  }

  .avatar {
    width: var(--hundred);
    margin-top: 0;
    display: flex;
  }

  .main {
    padding: var(--s-20) 0;
    width: var(--hundred);
  }

  .show_btn {
    flex-direction: column;
  }

  .use_case {
    width: var(--hundred);
    margin-bottom: var(--s-10);
  }

  .top {
    flex-direction: column;
    align-items: flex-start;
  }

  .row {
    display: block;
  }

  .row > div {
    width: var(--hundred);
    margin-bottom: var(--s-18);
  }

  .top_p {
    margin-bottom: 0;
  }
}
