#cont {
  position: sticky;
  z-index: 5;
  top: 0;
  box-shadow: 0 2px 5px var(--shadow);
  background: var(--bg-header-bottom);
}

.dropdown {
  display: none;
  margin-left: auto;
}

.hamburger {
  display: grid;
  place-items: center;
  margin: 0;
  margin-right: 0;
  padding: var(--pa-hambuger);
  border-radius: var(--size-5);
  height: var(--hundred);
}

.hamburger label {
  display: flex;
  flex-direction: column;
  width: var(--login-btn-margin);
  cursor: pointer;
}

.hamburger label span {
  background: black;
  border-radius: var(--primary-margin-top);
  height: var(--size-3);
  margin: var(--size-3) 0;
  transition: 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}

.hamburger span:nth-of-type(1) {
  width: var(--hundred);
}

.hamburger span:nth-of-type(2) {
  width: var(--hundred);
}

.hamburger span:nth-of-type(3) {
  width: var(--hundred);
}

.hamburger input[type="checkbox"] {
  display: none;
}

.hamburger input[type="checkbox"]:checked ~ span:nth-of-type(1) {
  transform-origin: bottom;
  transform: rotatez(45deg) translate(3px, 1px);
  width: var(--fifty);
}

.hamburger input[type="checkbox"]:checked ~ span:nth-of-type(2) {
  transform-origin: top;
  transform: rotatez(-45deg);
}

.hamburger input[type="checkbox"]:checked ~ span:nth-of-type(3) {
  transform-origin: bottom;
  width: var(--fifty);
  transform: translate(13px, -4px) rotatez(45deg);
}

.show {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

.nav {
  height: 0;
}

.nav div {
  position: relative;
  top: 0;
  width: var(--s-150);
  right: 0;
  z-index: 3;
  background: var(--white-color);
  box-shadow: 0 4px 5px var(--shadow);
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 950px) {
  .dropdown {
    display: block;
  }
}

/*  */
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.dropdown-content {
  max-height: 0;
  transition: max-height 0.5s ease-in-out;
  overflow: hidden;
  background-color: var(--white-color);
  display: flex;
  align-items: center;
  flex-direction: column;
  border-top: 1px solid var(--bg-login-gray);
  border-radius: var(--primary-border-radius);
}

.dropdown-content * {
  animation: fadeOut 0.5s ease-in-out;
  opacity: 0;
}

.dropdown-content2 {
  max-height: 0;
  transition: max-height 0.5s ease-in-out;
  overflow: hidden;
  background-color: var(--white-color);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.dropdown-content2 * {
  animation: fadeOut 0.5s ease-in-out;
  opacity: 0;
}

.active-dropdown * {
  animation: fadeIn 0.5s ease-in-out;
  opacity: 1;
  padding: var(--s-10);
  z-index: 3;
}

/*  */
/*  */

.modal {
  display: none;
  align-items: center;
  position: fixed;
  z-index: 6;
  padding: auto 0;
  left: 0;
  top: 0;
  width: var(--hundred);
  height: var(--hundred);
  overflow: auto;
  background-color: var(--black);
  background-color: var(--faded-black);
}

.modal2 {
  display: none;
  align-items: flex-start;
  position: fixed;
  z-index: 6;
  padding: auto 0;
  left: 0;
  top: 0;
  width: var(--hundred);
  height: var(--hundred);
  overflow: auto;
  background-color: var(--black);
  background-color: var(--faded-black);
}

.modal::-webkit-scrollbar,
.modal2::-webkit-scrollbar {
  width: 0;
}

.fa-2xs {
  font-size: 0.3rem;
}
