html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-family-primary);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  margin: 0;
}
