html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-family-primary);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  margin: 0;
}

.onroute {
  background: var(--primary-blue) !important;
  color: var(--white-color) !important;
}

.onroute-desktop {
  color: var(--primary-blue) !important;
}

.none {
  display: none;
}

button:hover {
  cursor: pointer;
}

.question-btn1,
.question-btn2 {
  background: var(--white-color);
  color: var(--light-gray-color);
  padding: var(--fs-1rem);
  width: var(--fifty);
  border-width: 0;
  font-size: var(--fs-24);
  cursor: pointer;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.error {
  font-size: var(--fs-24);
  font-weight: var(--fw-400);
  text-align: center;
  margin: var(--s-20) 0;
}

.form-error {
  color: var(--dark-red);
}

#text1::-webkit-input-placeholder,
#text2::-webkit-input-placeholder {
  font-size: var(--s-20);
}

@media (max-width: 950px) {
  .question-btn1,
  .question-btn2 {
    padding: var(--fs-14);
    font-size: var(--fs-1rem);
  }
}
