.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  color: var(--white-color);
  background: var(--primary-blue);
  font-size: var(--fs-24);
  padding: var(--pa-home-h1);
  font-weight: var(--font-weight-bold);
  text-align: center;
}

.title2 {
  color: var(--white-color);
  background: var(--primary-blue);
  font-size: var(--fs-24);
  padding: var(--pa-home-h1);
  font-weight: var(--font-weight-bold);
  text-align: center;
  display: flex;
}

.title2 span {
  position: absolute;
  right: var(--s-20);
}

.title2 p {
  width: var(--hundred);
  text-align: center;
}

.float {
  height: var(--s-122);
  background: #00000000;
  position: fixed;
  top: var(--s-140);
  right: 0;
  z-index: 5;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-animation: fadeIn 0.5s;
  animation: fadeIn 0.5s;
}

.float div {
  width: var(--s-240);
  height: var(--s-75);
  font-weight: var(--font-weight-bold);
  justify-content: center;
  display: flex;
  align-items: center;
  font-size: var(--fs-24);
  background: var(--primary-blue);
  color: var(--white-color);
}

.dash_cont {
  display: flex;
}

.dash_cont > div:first-child {
  width: var(--size-22);
}

.dash_cont > div:nth-last-child(1) {
  width: var(--size-78);
  background: var(--d-bg);
  padding: var(--s-30);
}

@media (max-width: 1300px) {
  .title2 {
    font-size: var(--s-18);
  }
}

@media (max-width: 950px) {
  .title2 {
    font-size: var(--fs-24);
    flex-direction: column;
  }

  .title2 span {
    position: static !important;
    right: var(--s-20);
  }

  .dash_cont > div:nth-last-child(1) {
    padding: var(--s-10);
    width: var(--hundred);
  }

  .dash_cont {
    flex-direction: column;
  }

  .dash_cont > div:first-child,
  .dash_cont > div {
    width: var(--hundred);
  }

  .float {
    top: var(--s-100);
  }

  .float div {
    width: var(--s-180);
    height: var(--s-60);
    font-weight: var(--font-weight-bold);
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: var(--s-18);
    background: var(--primary-blue);
    color: var(--white-color);
  }
}
