.container {
  min-height: var(--min-height-100);
}

.title {
  color: var(--white-color);
  background: var(--primary-blue);
  font-size: var(--fs-24);
  padding: var(--pa-home-h1);
  font-weight: var(--font-weight-bold);
  text-align: center;
  margin-bottom: var(--s-75);
}
