@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

:root {
  --font-family-primary: "Montserrat", sans-serif;
  --font-family-secondary: "Roboto", sans-serif;
  --font-weight-bold: 700;
  --hundred: 100%;
  --min-height-100: 100vh;

  /* login page */
  --bg-main-button: #024c73;
  --bg-main-button-hov: #024b73d8;
  --white-color: #fff;
  --login-page-title-color: #3ec70b;
  --light-gray-color: #8e8e8e;
  --input-border-color: #e3e3e3;
  --bg-login-gray: #cdcdcd;

  --login-title-font-size: 64px;
  --login-checkbox-dimensions: 20px;
  --login-title-margin: 40px;
  --login-form-padding: 54px;
  --primary-border-radius: 12px;
  --primary-margin-top: 10px;
  --login-form-cont-width: 630px;
  --login-form-padding-top: 65px;
  --login-checkbox-margin: 0 1rem 0 0.5rem;
  --login-checkbox-font: 14px;
  --login-input-font: 32px;
  --input-padding: 12px;
  --eye-icon-margin-top: 33px;
  --eye-icon-margin-left: -50px;
  --placeholder-font: 80%;
  --checkbox-cont-margin: 15px;
  --login-btn-margin: 30px;

  /* homepage */
  --fs-1rem: 16px;
  --size-18: 18px;
  --logo1-height: 91px;
  --logo1-width: 77px;
  --logo2-height: 86px;
  --logo2-width: 149px;
  --logo3-height: 74px;
  --logo3-width: 139px;
  --logo3-height: 73px;
  --logo3-width: 166px;
  --ministry-logo-margin: 35%;
  --header-padding: 54px;
}

@media (max-width: 950px) {
  :root {
    --logo1-height: 65px;
    --logo1-width: 54px;
    --logo2-height: 60px;
    --logo2-width: 104px;
    --logo3-height: 51px;
    --logo3-width: 95px;
    --logo4-width: 116px;
    --logo4-height: 51px;
    --header-padding: 36px;
  }
}

@media (max-width: 750px) {
  :root {
    --login-form-cont-width: 90%;
    --login-form-padding: 20px;
    --login-title-font-size: 35px;
    --eye-icon-margin-left: -40px;
    --login-input-font: 20px;
  }
}
