@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

:root {
  --font-family-primary: "Montserrat", sans-serif;
  --font-family-secondary: "Roboto", sans-serif;

  --font-weight-bold: 700;
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --hundred: 100%;
  --size-78: 78%;
  --size-75: 75%;
  --three: 3%;
  --sixty: 60%;
  --size-73: 73%;
  --size-72: 72%;
  --seventy: 70%;
  --ninety: 90%;
  --ten: 10%;
  --size-25: 25%;
  --size-22: 22%;
  --size-45: 45%;
  --size-35: 35%;
  --size-98: 98%;
  --size-27: 27%;
  --size-23: 23%;
  --eighteen: 18.6%;
  --size-1: 1%;
  --size-95: 95%;
  --size-94: 94%;
  --eighty: 80%;
  --min-height-100: 100vh;
  --br4: 4px;
  --fifty: 50%;
  --fourty: 40%;
  --thirty: 30%;
  --twenty: 20%;
  --fifteen: 15%;
  --ten: 10%;
  --five: 5%;
  --lh-35: 35px;
  --lh-16: 1.6;
  --fs-14: 14px;
  --fs-10: 10px;
  --fs-12: 12px;
  --size-5: 5px;
  --size-3: 3px;
  --s-95: 95px;
  --s-90: 90px;
  --s-80: 80px;
  --s-64: 64px;
  --s-60: 60px;
  --s-55: 55px;
  --s-52: 52px;
  --s-50: 50px;
  --s-45: 45px;
  --s-44: 44px;
  --s-42: 42.5px;
  --s-40: 40px;
  --s-33: 33px;
  --s-30: 30px;
  --s-28: 28px;
  --s-26: 26px;
  --s-22: 22px;
  --s-20: 20px;
  --s-18: 18px;
  --s-10: 10px;
  --s-75: 75px;
  --s-70: 70px;
  --s-8: 8px;
  --s-4: 4px;
  --s-2: 2px;
  --s-900: 900px;
  --s-800: 800px;
  --s-764: 764px;
  --s-745: 745px;
  --s-650: 650px;
  --s-600: 600px;
  --s-580: 580px;
  --s-552: 552px;
  --s-550: 550px;
  --s-532: 532px;
  --s-500: 500px;
  --s-470: 470px;
  --s-450: 450px;
  --s-420: 420px;
  --s-400: 400px;
  --s-380: 380px;
  --s-360: 360px;
  --s-350: 350px;
  --s-340: 340px;
  --s-320: 320px;
  --s-300: 300px;
  --s-270: 270px;
  --s-266: 266px;
  --s-240: 240px;
  --s-216: 216.85px;
  --s-200: 200px;
  --s-180: 180px;
  --s-165: 165px;
  --s-150: 150px;
  --s-140: 140px;
  --s-135: 135px;
  --s-130: 130px;
  --s-122: 122px;
  --s-120: 120px;
  --s-100: 100px;
  --s-13-5: 13.5px;
  --primary-border-radius: 12px;

  /* colors */
  --primary-blue: #024c73;
  --transparent-blue: #024c73b3;
  --bg-main-button-hov: #024b73d8;
  --blue: #2758ca;
  --blue-hov: #2758cab3;
  --bg-blue: #e4ecf7;
  --l-blue: #22b8cf;
  --lb-hov: #22b8cfb3;
  --ms-blue: #91c8f7;
  --tele-bg-blue: #eff8ff;
  --dark-red: #c30000;
  --light-red: #ff3737;
  --red: #cb1537;
  --pale-red: #e95454;
  --red-hov: #cb1536d0;
  --pink: #f900bf;
  --transparent-pink: #f900bfb2;
  --orange: #e68406;
  --white-color: #fff;
  --white-shadow: #ffffff18;
  --green: #1abc9c;
  --green-2: #37c172;
  --m-green: #37c172;
  --g-hov: #37c17394;
  --login-page-title-color: #3ec70b;
  --dark-green: #049d00;
  --help-desk-bg: #ebebec;
  --quest-card-bg: #e2e3e4;
  --light-gray-color: #8e8e8e;
  --gray: #adadad;
  --input-border-color: #e3e3e3;
  --bg-login-gray: #cdcdcd;
  --bg: #dee0e6;
  --bg-header-bottom: #f8f9fa;
  --shade: #c6c6c6;
  --shade2: #d7dce1;
  --d-bg: #eaeaea;
  --header-txt: #555555;
  --card-hov: #454545;
  --dark-gray: #333;
  --search-bg: #eeeded;
  --faded-white: #ffffffea;
  --shadow: #00000033;
  --light-shadow: #00000012;
  --faded-black: #000000b3;
  --transparent: #00000000;
  --black: black;
  --quest-green: #e9efd3b3;
  --light-green: #dfe9ba;
  --shadow-green: #ccd6a6;
  --telanga-green: #5a7610;
  --dark-telanga-green: #354508;
  --telange-brown: #423516;
  --yellow: #fcc418;
  --y-hov: #fcc318a4;

  /* home page */
  --pa-home-h1: 20px;
  --card-h: 490px;
  --sub-heading-h: 70px;
  --bg-img-h: 420px;
  --ma-homepage: 5%;
  --pa-btn-card: 10px;
  --ma-down-icon2: 15px 0 0 -20px;
  --card-btn-w: 135px;
  --card2-h: 65px;
  --ma-btm-home-top: 170px;
  --pa-btn: 13px 30px;
  --size-550: 550px;
  --size-31: 31.33%;
  --fs-2em: 2em;
  --s-255: 255px;
  --s-220: 220px;
  --slide-h: 530px;
  --ma-carousel: -20px;

  /* login page */
  --login-title-font-size: 50px;
  --login-checkbox-dimensions: 20px;
  --login-title-margin: 40px;
  --login-form-padding: 45px;
  --primary-margin-top: 10px;
  --login-form-cont-width: 550px;
  --login-form-padding-top: 65px;
  --login-checkbox-margin: 0 1rem 0 0.5rem;
  --login-checkbox-font: 14px;
  --login-input-font: 32px;
  --input-padding: 12px;
  --eye-icon-margin-top: 33px;
  --eye-icon-margin-left: -50px;
  --placeholder-font: 80%;
  --checkbox-cont-margin: 15px;
  --login-btn-margin: 30px;

  /* about page */
  --fs-48: 48px;
  --fs-36: 36px;
  --fs-24: 24px;
  --sub-title-margin: 16px;
  --pa-about-main: 32px;
  --ma-about-main: 30px 150px;
  --bg-about: #393939;
  --pa-title: 28px 50px;

  /* footer */
  --brands-size: 45px;
  --pa-footer: 20px 35px 20px 20px;
  --pb-footer: 165px;
  --pa-btn-footer: 12px 47px;
  --footer-logo-h: 85px;
  --footer-logo-w: 130px;

  /* header */
  --fs-1rem: 16px;
  --size-18: 18px;
  --logo1-height: 91px;
  --logo1-width: 77px;
  --logo2-height: 86px;
  --logo2-width: 149px;
  --logo-2-height: 82px;
  --logo-2-width: 79px;
  --logo3-height: 74px;
  --logo3-width: 139px;
  --logo4-height: 73px;
  --logo4-width: 166px;
  --ministry-logo-margin: 44%;
  --header-padding: 54px;
  --pa-header-bottom: 10px 20px;
  --pa-search: 5px 10px;
  --links-gap: 8px;
  --search-icon-right: 30px;
  --ma-down-icon: 2px;
  --searchbox-h: 60px;
  --size-87: 87%;
  --pa-hambuger: 5px 10px;
}

@media (max-width: 950px) {
  :root {
    --logo1-height: 30px;
    --logo1-width: 24.6px;
    --logo2-height: 40.3px;
    --logo2-width: 69.8px;
    --logo-2-height: 40.3px;
    --logo-2-width: 38.8px;
    --logo3-height: 25px;
    --logo3-width: 46.7px;
    --logo4-width: 57px;
    --logo4-height: 25px;
    --header-padding: 36px;
    --ministry-logo-margin: 47%;
  }
}

@media (max-width: 750px) {
  :root {
    --login-form-cont-width: 90%;
    --login-form-padding: 20px;
    --login-title-font-size: 35px;
    --eye-icon-margin-left: -40px;
    --login-input-font: 20px;
    --header-padding: 15px;
    --pa-title: 18px 25px;
    --pa-about-main: 20px;
    --ma-about-main: 10px 10px;
    --pa-btn-footer: 12px 30px;
  }
}

@media (max-width: 575px) {
  :root {
    --links-gap: 6px;
  }
}

@media (max-width: 410px) {
  :root {
    --ministry-logo-margin: 38%;
  }
}
